#!/bin/bash

# export GIT_SSH_COMMAND="ssh -i ~/.ssh/id_something"


export NAMESPACE="wordpress"
export PROJECT="donate-payu"
export PROJECT_ROOT=`pwd`

export CONTEXT="wordpress, php"

#export DB_CONNECTION=""
#export DB_SCHEMA=$NAMESPACE

export COMPOSE_FILE="docker-compose.yml"
