-r requirements.txt

python-dotenv
pip
bump2version
wheel
watchdog
flake8
tox
coverage
Sphinx
twine
setuptools
black
pycco
pycodestyle
pylama


argh
colorama

behave
pytest
pytest-runner
pyflakes
pylint
pytest-watch
factory-boy
# sudo python3 -m easy_install clonedigger

mccabe

bandit

autoflake
isort
mypy

